.login-custom {
}
.login-panel {
	background: #a6d453;
	opacity: 0.9 !important;
	border-radius: 30px;
	border: 2px solid white;
}
.login-panel .panel-heading,
.login-panel .panel-body,
.login-panel .panel-footer {
	background-color: transparent;
}
.login-logo {
	height: 100px;
	margin-bottom: 30px !important;
}
.login-panel .form-control:-ms-input-placeholder {
	color: #3d3d29;
}
.login-panel .form-control::-webkit-input-placeholder {
	color: #3d3d29;
}
.login-panel .checkbox label {
	color: white;
}
.btn.btn-login {
	background-color: #275839;
	color: white;
}
.btn.btn-login:hover {
	background-color: #33794d !important;
}
.login-heading {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}
.login-heading p {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	padding: 10px;
	margin-bottom: 0;
	width: 90%;
}
